name: PR Compare
on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: ['main']
    paths:
      - models/**
      - seeds/**
      - tests/**

jobs:
  piperider-compare:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
    - uses: actions/checkout@v3
    - name: setup and prep data
      run: |
        pip install -r requirements.txt
        dbt deps
        mkdir data
        curl -o data/incomes.csv https://lydata.ronny-s3.click/incomes.csv
        curl -o data/expenditures.csv https://lydata.ronny-s3.click/expenditures.csv
        dbt seed

    - name: PipeRider Compare
      uses: InfuseAI/piperider-compare-action@v1
      env:
        PIPERIDER_API_SERVICE: https://staging.cloud.piperider.io
      with:
        cloud_api_token: ${{ secrets.PIPERIDER_CLOUD_TOKEN_ID }}
        cloud_project: ${{ secrets.PIPERIDER_API_PROJECT }}
        upload: true
        share: true
